body {
  background-color: rgb(214, 214, 216);
}

.container {
  width: 90vw;
  max-width: 1920px;
  margin: auto;
}

img {
  display: block;
  margin: 10rem auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* set height: auto to prevent large gaps between images
(otherwise the images were always 960px regardless of srcset or width) */